[user]
	name = Vittorio Zaccaria
	email = vittorio.zaccaria@gmail.com
[core]
        excludesfile = ~/.gitignore_global
        editor = nvim
[color]
        ui = true

[hub]
        protocol = https

[push]
        default = simple

[pull]
        ff = only

